version: '3.4'
services:
    db:
      container_name: "chat-bot-db"
      image: 'mongo'
      ports:
        - 5000:27017
      volumes:
        - "./database:/data/db"
    server:
      container_name: "chat-bot-server"
      build: "."
      ports:
        - 4000:4000

     